[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/akhachaturan
[access "refs/for/refs/*"]
	read = group user/akhachaturan
	push = group user/akhachaturan
	label-Code-Review = -2..+2 group user/akhachaturan
	label-Verified = -1..+1 group user/akhachaturan
	rebase = group user/akhachaturan
	removeReviewer = group user/akhachaturan
	submit = group user/akhachaturan
[access "refs/heads/*"]
	read = group user/akhachaturan
	create = group user/akhachaturan
	push = +force group user/akhachaturan
	pushMerge = group user/akhachaturan
[access "refs/tags/*"]
	push = +force group user/akhachaturan
	pushTag = group user/akhachaturan
	pushSignedTag = group user/akhachaturan
